<robot name="block">
  <link name="block_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value="0.5" />
      <inertia  ixx="0.0005333333333333334" ixy="0.0"  ixz="0.0"  iyy="0.0005333333333333334" iyz="0.0"  izz="0.0005333333333333334" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.08 0.08 0.08" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.08 0.08 0.08" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="block_link">
     <material>Gazebo/Red</material>
     <mu1>0.2</mu1>
     <mu2>0.2</mu2>
     <maxVel>0.1</maxVel>
     <minDepth>0.0001</minDepth>
  </gazebo>
</robot>
