<robot name="block">
  <link name="block_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" />
      <mass value="0.5" />
      <inertia  ixx="0.000216667" ixy="0.0"  ixz="0.0"  iyy="0.000216667"  iyz="0.0"  izz="0.000225" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="block_link">
     <material>Gazebo/Turquoise</material>
     <mu1>0.2</mu1>
     <mu2>0.2</mu2>
     <maxVel>0.1</maxVel>
     <minDepth>0.0001</minDepth>
  </gazebo>
</robot>